/* Color Palette... gruvbox - light dim / desaturated */
/* :root{ */
/*     --background: #fbf1c7; */
/*     --background-darker: #ebdab4; */
/*     --red:    #cc2412; */
/*     --green:  #98971a; */
/*     --yellow: #d79921; */
/*     --blue:   #458598; */
/*     --purple: #b16286; */
/*     --aqua:   #689d6a; */
/*     --orange: #d65d0e; */
/*     --gray:   #7c6f64; */
/*     --beige: #EBDAB4; */
/*     --dark-black: #282828; */
/* } */
/* this is chris playing around with the light and dark modes 
*  there are too many colours at the moment, we can cull anything we don't use
* */
.light{
  --bg_h: #f9f5d7;
  --bg:   #fbf1c7;
  --bg_s: #f2e5bc;
  --bg1:  #ebdbb2;
  --bg2:  #d5c4a1;
  --bg3:  #bdae93;
  --bg4:  #a89984;

  --fg:  #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red:    #9d0006;
  --green:  #79740e;
  --yellow: #b57614;
  --blue:   #076678;
  --purple: #8f3f71;
  --aqua:   #427b58;
  --orange: #af3a03;
  --gray:   #928374;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458598;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim:   #7c6f64;
}

.dark{
  --bg_h: #1d2021;
  --bg:   #282828;
  --bg_s: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}
/*
* can call colours by their variable...
* e.g.
* body{ background-color: var(--background)}
*/

/* theme toggle styling */

.toggle {
  position: relative;
  user-select: none;
  margin-top:7px;
  margin-left:15px;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
}
/* is this needed? */
.content:hover .toggle-icon {
  animation: wiggle 1s linear;
}

.toggle-icon {
  width: 10px;
  user-select: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid var(--green-dim);
  padding: 4px;
  border-radius: 50px;
  width: 20px;
  margin: 0 auto;
  background-color: var(--orange-dim);
  transition: all 0.3s ease;
  user-select: none;
}

body {
    background-color: var(--bg2);
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    margin:0;
    transition: var(--transition-delay);
}

.theme-toggle-button {
    background-color: var(--blue);
    fill:  var(--orange);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em; 
    border-radius: .3em;
    border: none;
    outline: none;
}
.theme-toggle-button:hover{
    background-color: var(-- red);
    fill: var(--red);

}

.archivedArticle{
    border: 2px solid var(--fg2);
    border-radius:25px;
    padding:20px;
    margin: 10px;
    box-shadow: 5px 10px;

}
/*
A 'wrapper' for all content

- The background color is white
- The font used for all container content should be Arial with fall back
    to Helvetica and then whatever sans-serif font is available
- The border radius on all corners is 10px
- The bottom padding is 10px;
- The max width is 800px
*/
#container {
    background-color: var(--bg1);
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
    padding-bottom:10px;
    max-width:800px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--gray);
}

/*
A class for an element to house the header image and page title
*/
.header {
    position: relative;
}

/*
Define a CSS rule for the header image (a child of the .header element)

- To ensure the image is sized appropriately, its width should be 100%
- The border radius on the top-left and top-right corner is 10px
*/
.header img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.5;

}
/*
A rule for the heading element within the header.

- The heading should be positioned 'absolute' so that it can appear on top
    of the background iamge.
- The font size of the heading is 42px
- The colour is white
- The heading text should appear in all uppercase
- The heading text should appear 15px above the bottom of the image
    (hint: margin or padding)
- The position of the heading within the .header element is 10px from the left and
    0px from the bottom
*/
.banner-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var( --red);
}

.banner-text h1{
    font-size:55px;
    text-transform:uppercase;
}

/* top navagation styling */
.topnav {
    display:flex;
    justify-content:center;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--yellow-dim);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--green);
    color: var(--dark-black);
    color: var(--fg);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--aqua);
    color: var(--fg);
}

/*
Define CSS rules for the main content of the page (i.e., what appears below the .header)

The following guidelines apply:
- The margin/padding around all content is 20px top and bottom and 15px left and right
- The subheadings (h2) 'Information', 'Entry Fees', and 'Course Desc.' have top margins
    of 30px and bottom margins of 5px. Their font size is 16px with text appearing in
    bold uppercase. The colour is #045c88.
- The paragraph text is 13px in size with a bottom margin of 10px. This also applies to the list.
- The footer text size is 11px in the colour #555555. The text is centered.
*/
.blog-posts{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;

    
}

.blog-posts h2{
    margin-top:30px;
    margin-bottom:5px;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    color:var(--green);
}

.blog-posts p{
    font-size:13px;
    margin-bottom:10px;
}
.blog-posts ul{
    font-size:13px;
    margin-bottom:10px;
}

footer{
    font-size:11px;
    color:var(--fg1);
    text-align: center;
}



/*
A class to define the look of a button. This can be applied to button elements
as well as hyperlinks.

- Buttons should have no border
- The padding of the button text is 10px top and bottom and 15px left and right
- The button text is white, uppercase, and coloured white
- There should be no other decoration visible on the button text (e.g., no underline)

The 'Register' buttons should have:
- A default background colour of #b01818
- A mouse over background colour of #c04141

The 'Cancel / Back' button should have:
- A default background colour of #7c7c7c
- A mouse over background colour of #929292

You may need to define additional CSS rules to style the button colours
*/
.btn {
    border:2px dotted var(--bg2);
    padding:10px 15px;
    color:var(--yellow-dim);
    background-color:var(--bg1);
    text-transform:uppercase;
    text-decoration:none;
    font-size: 15px;
}
.btn:hover{
    background-color:var(--green);
}
.btn#Register{
    background-color:#b01818;
}
.btn#Register:hover{
    background-color:var(-- green);
}




.btn#Cancel{
    background-color:#7c7c7c;
}
.btn#Cancel:hover{
    background-color:#929292;
}

/*
A class for a form element label

- The font size of the label is 12px, and the text should be bold
- A 10px right margin applies to each label
*/
.form-label {
    font-size:12px;
    font-weight:bold;
    margin-right:10px;
    margin-left:0px
}

/*
A class for a form input element (includes <input> and <select>)

- The font size of the input is 12px
- The margin around each input element should be 2px top and bottom (0px left and right)
- The width of each input element is 200px

The box-sizing declaration controls how the browser calculates width and height values of
    an element. A value of 'border-box' will include and border and padding values in the
    calculation. This makes is easier to consitently size <input> and <select> elements.
    More info: https://www.w3schools.com/css/css3_box-sizing.asp
*/
.form-control {
    font-size:12px;
    margin-top:2px;
    margin-right:0px;
    width:200px;


    box-sizing: border-box;
}


.box {
    opacity: 0;
    height: 0;
    width: 0;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}
  
.show {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    height: auto;
    width: auto;
    border: 2px;

    border-radius: 8px;
    border-color: var(--background-darker);
    border-style: solid;
    background-color: var(--bg);
    padding-left: 10px;
    padding-right: 10px;

}

.hide {
    opacity: 0;
    height: 0;
    width: 0;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden
}

.archiveBtn {
    background-color: inherit;
    cursor: pointer;

    border-color: var(--fg);
    border-radius: 8px;
    border-style: solid;
    float:right;
    vertical-align: middle;
}

.aboutBtn {
    background-color: inherit;
    cursor: pointer;

    border-color: var(--blue);
    color: var(--blue);
    border-radius: 8px;
    border-style: solid;
    float:right;
    vertical-align: middle;

}

#archivedContent {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;
}


#archivedContent footer {
    font-size:11px;
    text-decoration-color:#555555;
    text-align: center;
}

#aboutContent {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:15px;
    margin-right:15px;
}


#aboutContent footer {
    font-size:11px;
    text-decoration-color:#555555;
    text-align: center;
}
#aboutContent h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight:bold;
    text-transform:uppercase;
    color:var(--orange);
}

#aboutPageAnswers h3{
    font-weight: bold;
    font-size: 24px;
    color: var(--blue);
    display: inline;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

#groupHeading{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight:bold;
    text-transform:uppercase;
    color:var(--green);
}

#groupAnswerHeading {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight:bold;
    text-transform:uppercase;
    color:var(--yellow-dim);

}

#studentNameId {
    font-size: 18px;
    color: var(--fg)

}

.studentName {
    text-align: left;
}
.studentId {
    text-align: left;
    text-indent: 16px;
}

#aboutPageAnswers p{
    font-size: 16px;
    color: var(--gray);
}

#aboutPageAnswers h4{
    font-size: 20px;
    color: var(--fg);
}

.postAuthor {
    display: inline;
}

#createForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#loginForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#registerForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

